/* -------------------- header ---------------------- */
header {
  background-color: #1e426e;
  width: 100%;
}

.header-line {
  display: flex;
  justify-content: end;
}
header a {
  text-decoration: none;
  color: #f9f9f9;
  text-transform: uppercase;
}

header ul {
  font-size: 2rem;
  max-width: 80%;
  gap: 0.5rem;
  list-style: " | ";
  color: #ffff;
  padding: 1rem;
  font-size: 2rem;
  max-width: 100%;
  margin-right: 12rem;
}
header li {
  padding-right: 1rem;
}

header a:hover {
  background-color: green;
}

/* -------------------- nav ---------------------- */
nav {
  background-color: #ffff;
}
h1 {
  font-size: 4rem;
  padding: 2rem 0 2rem 0;
  color: #1e426e;
  text-transform: uppercase;
}

.nav-line {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin-left: 15rem;
}

.nav-line ul {
  display: flex;
  text-transform: uppercase;
  gap: 4rem;
  padding: 3rem 0 3rem 0;
  font-size: 2rem;
}

.nav-line a {
  text-decoration: none;
}

nav img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: visible;
}

nav a:hover {
  color: green;
}

/* -------------------- main - index ---------------------- */
h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.5rem;
}
.link-boxes-background {
  background-color: #e8f4f9;
}

.all-link-boxes {
  display: flex;
  gap: 2.5rem;
  font-size: 2rem;
  max-width: 81%;
  margin-left: 15rem;
}

.link-box,
.link-box1,
.link-box6 {
  background-color: #ffff;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

main {
  background-color: #ffff;
}

.main-body {
  justify-tracks: center;
  margin: 2rem 15rem 2rem 15rem;
}

.main-box,
.main-box2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-box {
  background-color: #ffff;
  border: #e8f4f9;
  border-style: solid;
  border-width: 0.1rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  /* margin-left: 15rem; */
}

.main-box2 {
  background-color: #e8f4f9;
  /* margin-left: 1rem;
  margin-right: 1rem;
  margin-right: 10rem; */
}
.main-box2 h2,
.main-box2 p,
.main-box2 h3,
.main-box h2,
.main-box p,
.main-box h3 {
  padding: 1.5rem;
  text-align: center;
}

.main-box h2,
.main-box2 h2 {
  text-transform: capitalize;
}
.button1 {
  margin-left: 19rem;
  margin-right: 19rem;
}

.button1,
.button2 {
  background-color: #1e426e;
  color: #f9f9f9;
  font-size: 2rem;
  padding: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  justify-items: center;
}

.button2 {
  margin: 7rem;
  background-color: #1e426e;
}
.button2 a,
.button1 a {
  color: #f9f9f9;
  text-decoration: none;
}
/* -------------------- main - your-home ---------------------- */

.info-home h2 {
  text-align: center;
  padding: 2rem;
}

.info-box {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 18rem;
  margin-right: 16rem;
}

.info-box {
  padding: 0 2rem 0 2rem;
  margin-bottom: 2rem;
}

.info-box img {
  width: 98%;
  height: 20rem;
}

.info-text1 {
  padding-left: 1rem;
}
.info-text2 {
  padding-right: 1rem;
}

.help-section {
  background-color: #f5f5f5;
  text-align: center;
  padding: 4rem;
}

.help-section h2 {
  padding-bottom: 2rem;
}

.help-boxes {
  background-color: #f5f5f5;
  margin: 2rem auto 0 auto;
  max-width: 62%;
  display: flex;
  font-size: 1.5rem;
}

.help-box1,
.help-box2,
.help-box3 {
  background-color: #ffff;
  padding: 2rem 6rem 2rem 6rem;
  width: 100%;
}

.help-box2 {
  margin: 0 3rem 0 3rem;
}

.help-boxes a {
  text-decoration: none;
  font-size: 1rem;
}
.help-boxes p {
  text-transform: uppercase;
  padding-bottom: 2rem;
}

/* ---------------- main - community -------------------- */

.community,
.community-all-boxes {
  font-size: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.community h2 {
  text-align: center;
  padding: 5rem 0 4rem 0;
}

.community p:nth-child(2) {
  font-weight: bold;
  padding-bottom: 2rem;
}

.community p:nth-child(3) {
  padding-bottom: 2rem;
}

.community-box {
  display: flex;
  flex-direction: column;
}

.community-link {
  background-color: #1e426e;
  color: #ffff;
  text-decoration: none;
  padding: 1rem;
}

.community-all-boxes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 2rem;
}

.community-all-boxes img {
  height: 70%;
}

.house-banner {
  background-image: url(../img/building-stronger.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 3rem;
  display: flex;
  justify-content: flex-end;
}

.house-banner-box {
  font-size: 2rem;
  background-color: #f9f9f9;
  padding: 2rem;
  max-width: 35%;
  opacity: 0.9;
  margin-right: 15rem;
}

.house-banner-box h2 {
  text-align: center;
}

.house-banner-box h2,
.house-banner-box p,
.house-banner-link {
  padding: 1.25rem;
}

/* -------------------- footer ---------------------- */

footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem 2rem 4rem;
  font-size: 2rem;
  background-color: #e8f4f9;
  padding-left: 18rem;
  padding-right: 18rem;
}

footer ul {
  display: flex;
  list-style-type: none;
  color: #1e426e;
  gap: 0.5em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: green;
}

/* Mobile View */
@media (max-width: 759px) {
  .main-body {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 2rem;
    justify-content: center;
    gap: 1rem;
  }
}

/* Medium View */
@media (min-width: 760px) and (max-width: 1199px) {
  .main-body {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    font-size: 2rem;
    justify-content: center;
  }
}

/* Largest View */
@media (min-width: 1200px) {
  .main-body {
    display: grid;
    grid-template-columns: 60% 40%;
    font-size: 2rem;
    justify-content: center;
    gap: 1rem;
  }
}
